
.landing-page {
    /*background-image: url('/planets.svg');*/
    /*background-color: rgb(40, 39, 39);*/
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    pointer-events: none;

}


@keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }